.img{
    height: 300px;
    width: 300px
    
}
img{
    text-shadow: 33px;
}
/* now start my boxes style */
.container{
    /* position: absolute; */
    body{
        margin:0px;
    }

    display: flex;
    height: 100vh;

}

.header{
    height: 8rem;
    width: 100%;
    background-color: gray;
}
.sidebar{
    height: 100%;
    width: 15rem;
    background-color: rgb(127, 183, 201);
}
.maincontent{
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    margin-left: 15rem;
    flex: 1;

    position: absolute;
    top: 8.5rem;
}
.footer{
    margin-bottom: 1px;
  position: absolute;
  height: 5rem;
  width: 100%;
  background-color: rgb(4, 234, 138);
}